{% extends "@EasyAdmin/default/layout.html.twig" %}

{% block main %}
    {{ form_start(form) }}
    {{ form_row(form.date) }}
    <br>
    <div class="button-action">
        {{ form_row(form.export) }}
    </div>
    {{ form_end(form) }}
{% endblock %}